# 生产环境变量示例

APP_NAME=webman-search-platform
APP_ENV=prod
APP_DEBUG=false
APP_URL=http://38.76.150.34

# 数据源切换（mock=JSON文件, real=真实数据库）
AUTH_RBAC_SOURCE=real
QUESTION_SOURCE=mock
LOG_SOURCE=mock
USER_CENTER_SOURCE=real
DOCS_SOURCE=real
COLLECT_SOURCE=real
CONFIG_SOURCE=real
API_SOURCE_SOURCE=real

MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_DATABASE=search_platform
MYSQL_USERNAME=search_platform
MYSQL_PASSWORD=search_platform

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0

MONGO_URI=mongodb://127.0.0.1:27017
MONGO_DATABASE=search_platform

ES_HOST=https://127.0.0.1:9200
ES_USERNAME=elastic
ES_PASSWORD=bLIpTtYbmeTR50gxnXUJ

JWT_SECRET=please_change_me_to_long_random_string
JWT_EXPIRE=604800
